<ion-content>
    <div class="head">
        <ion-item lines="none">
            <ion-col>
            <ion-label>Welcome Back,</ion-label>
            <h1 *ngFor="let user of user">{{user.name}}</h1>
            </ion-col>
        </ion-item>
    </div>
    <div class="container">
        <ion-row>
            <ion-col routerLink="/home">
                <ion-icon name="calendar-outline" style="zoom:1.4" class="icon-pa"></ion-icon>
                <ion-label class="task-cont">{{taskslength}}</ion-label>
                <ion-label>
                    Active Tasks
                </ion-label>
            </ion-col>

            <ion-col class="sec-item" routerLink="/alltasks">
                <ion-icon name="checkmark-done-outline" style="zoom:1.4" class="icon-pa"></ion-icon>
                <ion-label class="task-cont">{{completedlength}}</ion-label>
                <ion-label>
                    Completed
                </ion-label>
            </ion-col>
        </ion-row>

        <div class="divider"></div>

        <div class="actions">
            <div class="action" (click)=" logout()">
                Logout
            </div>
            <div class="action delete" (click)="deleteAccount()">
                Delete account
            </div>
        </div>

        <div class="tasks">
            <div class="title">
                <label class="title-lb">Tasks</label>
            </div>

            <div *ngFor="let task of limtasks">
                <div class="content-holder" (click)="navigate(task.taskid)">
                    <h4>{{task.title}}</h4>
                    <div class="notes">
                        <label class="note">{{task.notes}}</label>
                    </div>
                    <div class="times">
                        <label>{{task.deadline}}</label>
                    </div>
                </div>
            </div>

        </div>
    </div>
</ion-content>