<ion-content>
    <div class="head">
      <ion-item lines="none">
        <ion-col>
          <ion-label>Welcome Back,</ion-label>
          <h1>Sithuliso</h1>
        </ion-col>
        <!--<ion-avatar>
          <img src="./assets/img/pp.jpg" alt="">
        </ion-avatar>-->
      </ion-item>
    </div>
    <br>

  <div class="container">
    <div class="title">
      <ion-row></ion-row>
      <label class="title-lb">Important Tasks</label>
    </div>

    <div *ngFor="let task of tasks">
      <div class="content-holder" (click)="navigate(task.taskid)">
        <h4>{{task.title}}</h4>
        <div class="notes">
          <label class="note">{{task.notes}}</label>
        </div>
        <div class="times">
          <label>{{task.deadline}}</label>
        </div>
      </div>
    </div>
  </div>
</ion-content>