<ion-content>
    <div class="head">
      <ion-item lines="none">
        <ion-col>
          <ion-label>Welcome Back,</ion-label>
          <h1>Sithuliso</h1>
        </ion-col>
        <!--<ion-avatar>
          <img src="./assets/img/pp.jpg" alt="">
        </ion-avatar>-->
      </ion-item>
    </div>
    <br>

  <div class="container">
    <div class="title">
      <ion-row></ion-row>
      <label class="title-lb">Important Tasks</label>
    </div>

    <div class="content-holder">
      <h4>Dut Appfactory Meeting</h4>
      <div class="notes">
      <label class="note">Attend daily meeting and do workAttend daily meeting and do work</label>
      </div>
      <div class="times">
          <label>Today, 09:50</label>
      </div>
    </div>
  </div>
</ion-content>