<ion-content>
  <div class="container">
    <h1>Login</h1>
    <P>Login using your emain account</P>

    <div class="service-logo">
      <ion-icon name="logo-google" class="service" style="zoom: 2.3;"></ion-icon>
    </div>

    <div class="form">
         <div>
          <ion-input type="email" placeholder="okasithulo@outlook.com"  required="required" class="input-l" [(ngModel)]="user.email"><ion-icon name="mail-outline" style="zoom: 1.5;" class="l-s-input"></ion-icon></ion-input>
        </div>
        
        <div>
          <ion-input type="password" placeholder="******************"  required="required" class="input-s" [(ngModel)]="user.password"><ion-icon name="lock-closed-outline" style="zoom: 1.5;" class="l-s-input"></ion-icon></ion-input>
        </div>
    </div>

    <ion-button class="login-btn"><ion-label class="login-lb" (click)="login()">Login</ion-label></ion-button>

    <p class="signup-msg" routerLink="../signup">Don't have an account.? <span style="color: orange;">Sign Up</span></p>
  </div>
</ion-content>
