<ion-content>
  <div class="container">
    <h1>Login</h1>
    <P>Login using your emain account</P>

    <div class="service-logo">
      <ion-icon name="logo-google" class="service" style="zoom: 2.3;"></ion-icon>
    </div>

    <div class="form">
         <div>
          <ion-label>Email Address</ion-label>
          <ion-input type="text" placeholder="okasithulo@outlook.com"  required="required" class="input-l"></ion-input>
        </div>
        
        <div>
          <ion-label class="pasword">Password</ion-label>
          <ion-input type="password" placeholder="okasithulo@outlook.com"  required="required" class="input-s"></ion-input>
        </div>
    </div>

    <ion-button class="login-btn"><ion-label class="login-lb" routerLink="../home">Login</ion-label></ion-button>

    <p class="signup-msg" routerLink="../signup">Don't have an account.? <span style="color: orange;">Sign Up</span></p>
  </div>
</ion-content>
