<ion-content>
    <div class="head">
      <ion-item lines="none">
        <ion-col>
          <ion-label>Welcome Back,</ion-label>
          <h1 *ngFor="let user of user">{{user.name}}</h1>
        </ion-col>
       <!-- <ion-avatar>
          <img src="./assets/img/pp.jpg" alt="">
        </ion-avatar>-->
      </ion-item>
    </div>
    <br>

  <div class="container">
    <div class="title">
      <label class="title-lb">Tasks</label>
    </div>

    <div *ngFor="let task of tasks">
      <div class="content-holder" (click)="navigate(task.taskid)">
        <h4>{{task.title}}</h4>
        <div class="notes">
          <label class="note">{{task.notes}}</label>
        </div>
        <div class="times">
          <label>{{task.deadline}}</label>
        </div>
      </div>
    </div>
    <hr>
    <div class="divider"></div>
    <div class="title-comp">
      <ion-row>
        <label class="title-lb">Completed {{completedlength}}</label>
        <ion-icon class="more" name="chevron-forward-outline" style="zoom: 1.5;" routerLink="/alltasks"></ion-icon>
      </ion-row>

    <div *ngFor="let completdtask of completedtasks">
      <div class="content-holder">
        <h4>{{completdtask.title}}</h4>
        <div class="notes">
          <label class="note">{{completdtask.notes}}</label>
        </div>
        <div class="times">
          <label>{{completdtask.deadline}}</label>
        </div>
      </div>
    </div>
    </div>
  </div>

</ion-content>