<ion-content>
    <div class="head">
      <ion-item lines="none">
        <ion-col>
          <ion-label>Welcome Back,</ion-label>
          <h1>Sithuliso</h1>
        </ion-col>
        <ion-avatar>
          <img src="./assets/img/pp.jpg" alt="">
        </ion-avatar>
      </ion-item>
    </div>
    <br>

  <div class="container">
    <div class="title">
      <label class="title-lb">Tasks (4)</label>
    </div>

    <div *ngFor="let task of tasks">
      <div class="content-holder" routerLink="/taskdetails">
        <h4>{{task.title}}</h4>
        <div class="notes">
          <label class="note">{{task.notes}}</label>
        </div>
        <div class="times">
          <label>{{task.deadline}}</label>
        </div>
      </div>
    </div>

    <div class="title-comp">
      <ion-row>
        <label class="title-lb">Completed (10)</label>
        <ion-icon class="more" name="chevron-forward-outline" style="zoom: 1.5;"></ion-icon>
      </ion-row>
    </div>
  </div>

</ion-content>