<ion-content>
  <div class="container">
    <h1>Sign up</h1>
    <P>Sign up using your emain account</P>

    <ion-row> 
      <div class="service-logo">
        <ion-icon name="logo-google" class="service" style="zoom: 2.3;"></ion-icon>
      </div>
      
      <ion-col type="file">
        <div class="service-logo-profile-p" type="file">
          <ion-icon type="file" name="images-outline" class="service2" style="zoom: 2;"></ion-icon>
        </div>
        <p class="picture-signup" type="file">Upload a picture</p>
      </ion-col>
    </ion-row>

    <div class="form">
         <div>
          <ion-input type="text" placeholder="Enter Your Name"  required="required" class="input-l"><ion-icon name="person-outline" style="zoom: 1.5;" class="l-s-input"></ion-icon></ion-input>
        </div>
        
        <div>
          <ion-input type="email" placeholder="Email Address"  required="required" class="input-s"><ion-icon name="mail-outline" style="zoom: 1.5;" class="l-s-input"></ion-icon></ion-input>
        </div>

        <div>
          <ion-input type="password" placeholder="Enter Password"  required="required" class="input-s-p"><ion-icon name="lock-closed-outline" style="zoom: 1.5;" class="l-s-input"></ion-icon></ion-input>
        </div>
    </div>

    <ion-button class="signup-btn" (Click)="showToast()"><ion-label class="login-lb">Sign Up</ion-label></ion-button>

    <p class="signup-msg" routerLink="../login">Already have an account.? <span style="color: orange;">Login</span></p>
  </div>
</ion-content>
