h1{
    margin-top: 94px;
    font-weight: 700;
    size: 34px;
    line-height: 39px;
    font-family: Inter;
    font-style: normal;
    position: absolute;
}
p {
    position: absolute;
    width: 264px;
    height: 19px;
    left: 24px;
    top: 150px;
    font-style: normal;
    line-height: 19px;
}
.form
{
    position: absolute;
    top: 350px;
}
.input-s
{
    box-sizing: border-box;
    position: absolute;
    width: 331px;
    height: 64px;
    top: 120px;
    background: #393E46;
    border: 1px solid #FFFFFF;
    border-radius: 15px;
}
.input-l
{
    box-sizing: border-box;
    position: absolute;
    width: 331px;
    height: 64px;
    top: 30px;
    background: #393E46;
    border: 1px solid #FFFFFF;
    border-radius: 15px;
}
.input-s-p
{
    box-sizing: border-box;
    position: absolute;
    width: 331px;
    height: 64px;
    top: 210px;
    background: #393E46;
    border: 1px solid #FFFFFF;
    border-radius: 15px;
}
.signup-btn
{
    position: absolute;
    width: 331px;
    height: 67px;
    left: 24px;
    top: 650px;
}
.login-lb
{
    width: 90px;
    height: 26px;
    left: 161px;
    top: 690px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
}
.signup-msg
{
    position: absolute;
    width: 300px;
    height: 19px;
    top: 850px;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    left: 50px;
}
.picture-signup
{
  left: 210px;
  margin-top: 98px;
}