<ion-content>
  <div class="head">
    <ion-item lines="none">
      <ion-col>
        <ion-label>Welcome Back,</ion-label>
        <h1 *ngFor="let user of user">{{user.name}}</h1>
      </ion-col>
      <!--<ion-avatar>
        <img src="./assets/img/pp.jpg" alt="">
      </ion-avatar>-->
    </ion-item>
  </div>
  <br>

  <div class="container">
      <ion-row>
      <ion-icon name="arrow-back-outline" style="zoom: 1.6;" (click)="back()"></ion-icon>
      <div class="actions">
        <ion-row>
          <ion-icon name="heart-outline" style="zoom: 1.6;" class="action" (click)="addtoliked()"></ion-icon>
          <ion-icon name="pencil-outline" style="zoom: 1.5;" class="action"></ion-icon>
          <ion-icon name="trash-outline" style="zoom: 1.5;" class="action"></ion-icon>
        </ion-row>
      </div>
    </ion-row>

    <div  *ngFor="let task of tasks">
      <div class="notes">
        <h4>{{task.title}}</h4>
        <ion-row>
          <ion-icon name="filter-outline" style="zoom: 1.5;" class="notes-icon"></ion-icon>
          <p class="note">
           {{task.notes}} 
          </p>
        </ion-row>
      </div>

      <div class="times">
        <ion-row>
          <ion-icon name="calendar-outline" style="zoom: 1.5;"></ion-icon>
          <div class="time-holder">
            <label class="time-slot">{{task.deadline}}</label>
          </div>
        </ion-row>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <div class="footer">
   <div class="complete">
     <label> Mark as complete</label>
   </div>
  </div>
</ion-footer>
