.head
{
    text-align: center;
    margin-top: 7%;
}
.form
{
    position: absolute;
    top: 150px;
}
.input-s
{
    box-sizing: border-box;
    position: absolute;
    width: 331px;
    height: 64px;
    top: 120px;
    background: #393E46;
    border: 1px solid #FFFFFF;
    border-radius: 15px;
}
.input-l
{
    box-sizing: border-box;
    position: absolute;
    width: 331px;
    height: 64px;
    top: 30px;
    background: #393E46;
    border: 1px solid #FFFFFF;
    border-radius: 15px;
}
.input-s-p
{
    box-sizing: border-box;
    position: absolute;
    width: 331px;
    height: 64px;
    top: 210px;
    background: #393E46;
    border: 1px solid #FFFFFF;
    border-radius: 15px;
}
.signup-btn
{
    position: absolute;
    width: 331px;
    height: 67px;
    left: 24px;
    top: 500px;
}
.login-lb
{
    width: 90px;
    height: 26px;
    left: 140px;
    top: 690px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
}